 <!-- Navbar -->
 <nav class="navbar" data-bs-theme="dark" style="background-color: #372a12;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="Cafe-Logo-preview.webp" alt="Cafe" width="30" height="30" class="d-inline-block align-text-top">
        Café Aroma
      </a>
      <div>
        <ul class="nav">
            <li class="nav-item">
            <a class="nav-link text-decoration-none text-white" href="">Inicio</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-decoration-none text-white" routerLink="/about">Sobre Nosotros</a>
            </li>
        </ul>
    </div>
    </div>
  </nav>