 <!-- Footer -->
 <footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <!-- Contacto -->
        <div class="col-md-4">
          <h5>Contacto</h5>
          <ul class="list-unstyled">
            <li><i class="bi bi-geo-alt-fill"></i> Calle Café Aroma #123, Ciudad</li>
            <li><i class="bi bi-telephone-fill"></i> +52 123 456 7890</li>
            <li><i class="bi bi-envelope-fill"></i> contactocafearoma.com</li>
          </ul>
        </div>

        <!-- Enlaces Rápidos -->
        <div class="col-md-4">
          <h5>Enlaces Rápidos</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white text-decoration-none">Inicio</a></li>
            <li><a href="#" class="text-white text-decoration-none">Sobre Nosotros</a></li>
            <li><a href="#" class="text-white text-decoration-none">Productos</a></li>
            <li><a href="#" class="text-white text-decoration-none">Contacto</a></li>
          </ul>
        </div>

        <!-- Redes Sociales -->
        <div class="col-md-4">
          <h5>Síguenos</h5>
          <a href="#" class="text-white me-2"><i class="bi bi-facebook"></i> Facebook</a><br>
          <a href="#" class="text-white me-2"><i class="bi bi-instagram"></i> Instagram</a><br>
          <a href="#" class="text-white"><i class="bi bi-twitter"></i> Twitter</a>
        </div>
      </div>
      <hr class="bg-white">
      <div class="text-center">
        <p class="mb-0">&copy; 2025 Café Aroma. Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>